.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease;
    z-index: 1000;
}

.open {
    opacity: 1;
    visibility: visible;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 100%;
    background-color: var(--color-text-secondary);
    padding: 24px;
    transform: translateX(-100%);
    transition: 300ms ease;
}

.open .menu {
    transform: translateX(0);
}

.closeBtn {

    font-size: 24px;

}

.nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 30px;
}

.link {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;

    color: #ffffff;
    text-decoration: none;
    font-weight: 500;

    transition: color 250ms ease;
}

.link:hover {
    color: #ff6b00;
}

.linkActive {
    color: #ff6b00;
}

.icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
}