.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease;
    z-index: 1000;
}

.open {
    opacity: 1;
    visibility: visible;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 100%;
    background-color: white;
    padding: 24px;
    transform: translateX(-100%);
    transition: 300ms ease;
}

.open .menu {
    transform: translateX(0);
}

.closeBtn {

    font-size: 24px;

}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}