.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(57, 56, 56, 0.55);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.modal {
    width: 100%;
    max-width: 360px;
    margin: 6px;
    padding: 24px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    animation: scaleIn 0.25s ease-out;
}

.title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #222;
}

.input {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
    transition: border 0.2s ease;
}

.input:focus {
    border-color: #ff6b00;
    box-shadow: 0 0 5px rgba(154, 56, 20, 0.5);

}

.inputError {
    border-color: #e53935;
}

.inputError:focus {
    border-color: #e53935;
    box-shadow: 0 0 5px rgba(229, 57, 53, 0.5);
}

.inputWrapper {
    position: relative;
}



.eyeBtn {
    position: absolute;
    right: 12px;
    top: 42%;
    transform: translateY(-50%);
    background: transparent;
    display: flex;
    align-items: center;
    color: #6b6b6b;
}

.eyeBtn:hover {
    color: #000;
}

.errorWrapper {
    min-height: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.error {
    font-size: 14px;
    color: #e53935;
    line-height: 1.2;
}

.button {
    width: 100%;
    padding: 12px;
    background: #ff6b00;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}

.button:hover {
    background: #e65f00;
}

.button:active {
    transform: scale(0.98);
}

@keyframes scaleIn {
    from {
        transform: scale(0.90);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}