.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #bfc7de;
}


.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logoImg {
    width: 30px;
    height: auto;
    border-radius: 6px;
}

.logoText {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.logoTop {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.logoBottom {
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

.nav {
    display: none;

}

.link {
    display: flex;
    align-items: center;
    gap: 3px;

    color: #ffffff;
    text-decoration: none;
    font-weight: 500;

    transition: color 250ms ease;
}

.link:hover {
    color: #ff6b00;
}

.linkActive {
    color: #ff6b00;
}

.icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.burger {
    width: 24px;
    height: 16px;
    position: relative;
    display: block;

}

.burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ff6b00;
    border-radius: 1px;
    left: 0;
    transition: 300ms ease;
}

.burger span:nth-child(1) {
    top: 0;
}

.burger span:nth-child(2) {
    top: 7px;
}

.burger span:nth-child(3) {
    bottom: 0;
}


.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 7px;
}

.active span:nth-child(2) {
    opacity: 0;
}

.active span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 7px;
}

@media (min-width: 768px) {
    .inner {
        padding: 8px 14px;
    }

    .burger {
        display: none;
    }

    .nav {
        display: flex;
        gap: 24px;
    }

}

@media (min-width: 1200px) {
    .inner {
        padding: 12px 20px;
    }



}