.header {
    padding: 16px 24px;
    background-color: #bfc7de;

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 20px;
    border-radius: 6px;
    display: block;
}

.nav {
    display: flex;
    gap: 24px;
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #ffffff;
    text-decoration: none;
    font-weight: 500;

    transition: color 250ms ease;
}

.link:hover {
    color: #ff6b00;
}

.linkActive {
    color: #ff6b00;
}

.icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}