.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #bfc7de;
    padding: 12px 10px;
}

@media (min-width: 768px) {
    .header {
        padding: 16px 20px;
    }
}

@media (min-width: 1200px) {
    .header {
        padding: 20px 140px;
    }
}

@media (min-width: 1440px) {
    .header {
        padding: 20px 360px;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logoImg {
    width: 30px;
    height: auto;
    border-radius: 6px;
}

.logoText {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.logoTop {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.logoBottom {
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

.nav {
    display: flex;
    gap: 24px;
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #ffffff;
    text-decoration: none;
    font-weight: 500;

    transition: color 250ms ease;
}

.link:hover {
    color: #ff6b00;
}

.linkActive {
    color: #ff6b00;
}

.icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}