.header {
    padding: 16px 24px;
    background-color: #bfc7de;

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logoImg {
    width: 30px;
    height: auto;
    border-radius: 6px;
}

.logoText {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.logoTop {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.logoBottom {
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

.nav {
    display: flex;
    gap: 24px;
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #ffffff;
    text-decoration: none;
    font-weight: 500;

    transition: color 250ms ease;
}

.link:hover {
    color: #ff6b00;
}

.linkActive {
    color: #ff6b00;
}

.icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}