.image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    z-index: 9999;
}

.fullImage {
    max-width: 90vw;
    max-height: 90vh;
    user-select: none;
    transition: transform 0.05s linear;
    transform-origin: center;

    will-change: transform;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}